<!doctype html>
<html>
    <head>
        <style>
.pad{
    background-color:lavender;

    border: solid 2px ;
    padding-top:30px;

    padding-bottom:50px;
    padding-left:100px;
    margin-top:50px;
    margin-right:70px;
    margin-left:70px;


}
        </style>
    </head>
    <body>
        <div class="pad">
            <h2>Photo Gallery</h2>
            <h4> Please fill in password twice.It allows this device to confirm your passord. 
            </h4>
            <br />
            <form action="" method="POST">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="resetpassword"/>
            </form>

        </div>
    </body>
    </html>