{% extends 'base.html' %}
{% block title %}Reset password{%endblock%}
{% block contents %}
<div class="container">
    <div class="row">
        <div class="col py-4">
            <hr>
            <h3>
                Will you reset password?
            </h3>
            <p>
               
                Fill in registered email address.Deliver email that include link of the password's reset.
            </p>
            <br>
            <form action="" method="POST" class="text-center">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="receiveemail"　/></br>
            </form>
            <br>
            <a href="{%url 'photo:index'%}">Photo Garallery</a>
            <hr>
        </div>
    </div>
</div>
{% endblock %} 