<!doctype html>
<html>
    <head>
        <style>
            .pod{
                background-color:lavender;

                border: solid 2px ;
                padding-top:30px;
            
                padding-bottom:50px;
                padding-left:100px;
                margin-top:50px;
                margin-right:70px;
                margin-left:70px;
            
            }
        </style>
    </head>
    <body>
        <div class="pad">
            <h2>Your password was reset.</h2>
            <p>Your password has been set. You may go ahead  and login.</p>
        </div>
        <br>
        <a href="{% url 'photo:index'%}">Top Page of Photo Garalley</a>
    </div>
    </body>
    </html>